[Unit]
Description=Envoy agent monitor for %i
Documentation=man:envoyd(1) man:envoy(1)

[Service]
ExecStart=/usr/bin/envoyd -t %i
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
Also=envoy@.socket
